{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 7
    },
    "parser": "C:\\Users\\roncli\\AppData\\Roaming\\npm\\node_modules\\babel-eslint",
    "extends": "eslint:all",
    "rules": {
        "array-element-newline": "off",
        "capitalized-comments": "off",
        "class-methods-use-this": "off",
        "complexity": "off",
        "consistent-this": "off",
        "default-case": "off",
        "dot-location": "off",
        "func-names": "off",
        "function-call-argument-newline": "off",
        "global-require": "off",
        "id-length": "off",
        "indent": [
            "error", 4, {
                "SwitchCase": 1
            }
        ],
        "init-declarations": "off",
        "line-comment-position": "off",
        "linebreak-style": "off",
        "lines-around-comment": "off",
        "max-depth": "off",
        "max-len": "off",
        "max-lines": "off",
        "max-lines-per-function": "off",
        "max-params": "off",
        "max-statements": "off",
        "multiline-comment-style": "off",
        "multiline-ternary": "off",
        "new-cap": [
            "error",
            {"properties": false}
        ],
        "newline-per-chained-call": "off",
        "no-await-in-loop": "off",
        "no-confusing-arrow": "off",
        "no-console": "off",
        "no-continue": "off",
        "no-empty": "off",
        "no-empty-function": "off",
        "no-implicit-coercion": "off",
        "no-inline-comments": "off",
        "no-invalid-this": "off",
        "no-loop-func": "off",
        "no-magic-numbers": "off",
        "no-mixed-operators": "off",
        "no-mixed-requires": "off",
        "no-nested-ternary": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "no-process-env": "off",
        "no-return-assign": "off",
        "no-ternary": "off",
        "no-trailing-spaces": [
            "error",
            {"ignoreComments": false}
        ],
        "no-underscore-dangle": "off",
        "no-useless-constructor": "off",
        "no-void": "off",
        "object-property-newline": "off",
        "one-var": [
            "off", {
                "const": "always"
            }
        ],
        "padded-blocks": "off",
        "prefer-destructuring": [
            "error", {
                "array": false
            }, {
                "enforceForRenamedProperties": true
            }
        ],
        "prefer-promise-reject-errors": [
            "error", {"allowEmptyReject": true}
        ],
        "require-atomic-updates": "off",
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true,
                "FunctionExpression": true
            }
        }],
        "require-unicode-regexp": "off",
        "sort-keys": "off",
        "sort-vars": "off",
        "space-before-function-paren": "off",
        "quote-props": "off",
        "valid-jsdoc": [
            "error", {
                "prefer": {
                    "return": "return"
                }
            }
        ]
    },
    "overrides": [
        {
            "files": ["public/**/*.js"],
            "env": {
                "es6": true,
                "node": false,
                "browser": true
            },
            "parserOptions": {
                "sourceType": "script"
            },
            "rules": {
                "no-new": "off",
                "no-var": "off",
                "prefer-arrow-callback": "off",
                "prefer-template": "off"
            }
        },
        {
            "env": {
                "es6": true,
                "node": false,
                "browser": true
            },
            "parserOptions": {
                "sourceType": "script"
            },
            "files": ["public/views/**/*.js"],
            "rules": {
                "no-implicit-globals": "off"
            }
        }
    ]
}
