* {
    font-size: 12px;
}

body {
    text-align: center;
}

select {
    font-size: 12px;
    padding: 5px;
}

input {
    font-size: 12px;
    margin: 5px;
}

button {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    -webkit-appearance: none;
}

div {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
    border: solid 1px #191935;
}

div#scene, div#setting {
    border: none;
    padding: 0;
    margin: 0;
}

div.settings-row {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}

.emoji {
    font-family: "Segoe UI Emoji";
    font-size: 16px;
}

button.emoji {
    padding: 0;
    font-size: 12px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.draggable {
    cursor: pointer;
}

.hidden {
    display: none;
}
