* {
    font-size: 24px;
}

body {
    color: white;
    background-color: black;
    text-align: center;
}

select {
    font-size: 24px;
    padding: 10px;
}

input {
    font-size: 24px;
    margin: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    -webkit-appearance: none;
    background-color: buttonface;
}

div {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    border: solid 1px #191935;
}

.hidden {
    display: none;
}
