body {
    overflow: hidden;
}

div#scene {
    position: absolute;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

div#spotify {
    position: absolute;
    top: 7px;
    right: 7px;
}

div#spotify div {
    display: inline-block;
    vertical-align: top;
}

div#spotify .now-playing {
    color: white;
    font-size: 22px;
    max-width: 426px;
    text-align: right;
}

div#spotify .artwork {
    margin-left: 10px;
}

div#spotify .artwork img {
    width: 64px;
    height: 64px;
}

div#social {
    position: absolute;
    width: 209px;
    height: 67px;
}

div#social div {
    position: absolute;
}

div#social div div#discord-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url("/images/discord.png") 25px 25px;
}

div#social div div#discord {
    position: absolute;
    left: 29px;
    top: 2px;
    font-size: 21px;
}

div#social div div#twitter-icon {
    position: absolute;
    left: 0;
    top: 42px;
    width: 25px;
    height: 25px;
    background: url("/images/twitter.png") 25px 25px;
}

div#social div div#twitter {
    position: absolute;
    left: 29px;
    top: 44px;
    font-size: 21px;
}

div#frame {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

div#frame div#fire {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

div#frame div#frame-image {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: url("/images/frame.png") 1920px 1080px;
}

div#frame div#content {
    position: absolute;
    width: 1728px;
    height: 972px;
    left: 96px;
    top: 54px;
    overflow: hidden;
}

div#frame div#content div#roncli-gaming {
    position: absolute;
    width: 1482px;
    height: 590px;
    left: 123px;
    top: 191px;
    background: url("/images/roncliGaming.png") 1482px 590px;
}

div#frame div#content div#you-know-it {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 808px;
    top: 212px;
    background: url("/images/roncliYouKnowIt-112.png") 112px 112px;
}

div#frame div#content div#trailer {
    position: absolute;
    width: 1728px;
    height: 972px;
}

div#frame div#content div#roncli-gaming-small {
    position: absolute;
    width: 741px;
    height: 295px;
    left: 493.5px;
    top: 338.5px;
    background: url("/images/roncliGaming.png") 741px 295px;
    background-size: 741px 295px;
}

div#frame div#content div#whatever {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 1122px;
    top: 307px;
    background: url("/images/roncliWhatever-112.png") 112px 112px;
}

div#frame div#content div#brb-text {
    position: absolute;
    width: 1728px;
    top: 633.5px;
    font-size: 72px;
    text-align: center;
}

div#frame div#content div#roncli-gaming-tiny {
    position: absolute;
    width: 504px;
    height: 207px;
    left: 2px;
    top: 2px;
    background: url("/images/roncliGamingTiny.png") 504px 207px;
    background-size: 504px 207px;
}

div#frame div#content div#rip {
    position: absolute;
    width: 112px;
    height: 112px;
    right: 7px;
    top: 7px;
    background: url("/images/roncliRip-112.png") 112px 112px;
}

div#frame div#content div#crawler {
    position: absolute;
    top: 486px;
    width: 1728px;
    text-align: center;
    font-size: 36px;
}

div#frame div#social {
    bottom: 0;
    padding: 7px;
    background-color: black;
}

div#game,
div#analysis,
div#head-to-head {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url("../images/background.png");
    background-size: 1920px 1080px;
}

div#game div#title,
div#analysis div#title,
div#head-to-head div#title {
    position: absolute;
    width: 1920px;
    text-align: center;
}

div#game div#title div.header,
div#analysis div#title div.header,
div#head-to-head div#title div.header {
    font-size: 56px;
}

div#game div#title div.text,
div#analysis div#title div.text,
div#head-to-head div#title div.text {
    font-size: 48px;
}

div#game div#info {
    position: absolute;
    top: 138px;
    width: 384px;
    font-size: 22px;
}

div#analysis div#info {
    position: absolute;
    top: 138px;
    width: 789px;
    font-size: 22px;
}

div#analysis div#analysis-info {
    position: absolute;
    top: 138px;
    left: 800px;
    font-size: 32px;
}

div#game div#info div.header,
div#game div#info div.text,
div#analysis div#info div.header,
div#analysis div#info div.text,
div#analysis div#analysis-info div.header,
div#analysis div#analysis-info div.text {
    margin: 0 7px;
}

div#game div#info div.header,
div#analysis div#info div.header,
div#analysis div#analysis-info div.header {
    margin-bottom: 5px;
}

div#game div#support,
div#analysis div#support,
div#head-to-head div#support {
    position: absolute;
    left: 614px;
    top: 984px;
}

div#game div#support div.support,
div#analysis div#support div.support,
div#head-to-head div#support div.support {
    display: grid;
    font-size: 22px;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    row-gap: 2px;
}

div#game div#recent,
div#analysis div#recent,
div#head-to-head div#recent {
    position: absolute;
    right: 7px;
    top: 984px;
    text-align: right;
}

div#game div#recent div.recent,
div#analysis div#recent div.recent,
div#head-to-head div#recent div.recent {
    display: grid;
    font-size: 22px;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    row-gap: 2px;
}

div#game div#notification,
div#analysis div#notification,
div#head-to-head div#notification {
    position: absolute;
    display: grid;
    left: 614px;
    top: 984px;
    width: 1306px;
}

div#game div#notification div.notification,
div#analysis div#notification, div.notification,
div#head-to-head div#notification, div.notification {
    display: grid;
    font-size: 36px;
    grid-template-rows: 93px;
    grid-template-columns: repeat(2, fit-content(1200px));
    column-gap: 20px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

div#game div#notification div.notification .message,
div#analysis div#notification div.notification .message,
div#head-to-head div#notification div.notification .message {
    font-size: 16px;
}

div#game div#social {
    left: 383px;
    top: 998px;
}

div#analysis div#social,
div#head-to-head div#social {
    left: 10px;
    top: 998px;
}

div#game div#elapsed {
    position: absolute;
    top: 724px;
    width: 374px;
    text-align: center;
    color: white;
    font-size: 72px;
}

div#head-to-head div#display-1 {
    position: absolute;
    top: 125px;
    left: 13px;
    width: 944px;
    height: 535px;
    background-color: black;
}

div#head-to-head div#player-1 {
    position: absolute;
    top: 658px;
    left: 13px;
    color: white;
    font-size: 60px;
}

div#head-to-head div#glitch-1 {
    position: absolute;
    top: 667px;
    right: 1122px;
    width: 32px;
    height: 32px;
    background: url("/images/twitch.png") 32px 32px;
}

div#head-to-head div#twitch-1 {
    position: absolute;
    top: 669px;
    right: 1159px;
    color: white;
    font-size: 24px;
    text-align: right;
}

div#head-to-head div#score-1 {
    position: absolute;
    top: 684px;
    left: 644px;
    color: white;
    width: 400px;
    font-size: 60px;
    text-align: center;
}

div#head-to-head div#units-1 {
    position: absolute;
    top: 664px;
    left: 644px;
    color: white;
    width: 400px;
    font-size: 16px;
    text-align: center;
}

div#head-to-head div#display-2 {
    position: absolute;
    top: 125px;
    right: 13px;
    width: 944px;
    height: 535px;
    background-color: black;
}

div#head-to-head div#player-2 {
    position: absolute;
    top: 658px;
    right: 13px;
    color: white;
    font-size: 60px;
    text-align: right;
}

div#head-to-head div#glitch-2 {
    position: absolute;
    top: 667px;
    left: 1122px;
    width: 32px;
    height: 32px;
    background: url("/images/twitch.png") 32px 32px;
}

div#head-to-head div#twitch-2 {
    position: absolute;
    top: 669px;
    left: 1159px;
    color: white;
    font-size: 24px;
}

div#head-to-head div#score-2 {
    position: absolute;
    top: 684px;
    left: 876px;
    color: white;
    width: 400px;
    font-size: 60px;
    text-align: center;
}

div#head-to-head div#units-2 {
    position: absolute;
    top: 664px;
    left: 876px;
    color: white;
    width: 400px;
    font-size: 16px;
    text-align: center;
}

div#head-to-head div#timer {
    position: absolute;
    top: 680px;
    left: 0;
    width: 1920px;
    color: white;
    font-size: 36px;
    text-align: center;
}

div#head-to-head div#timer > div {
    display: inline-block;
    width: 17px;
    text-align: center;
}

div#head-to-head div#banner {
    position: absolute;
    top: 741px;
    left: 0;
    width: 1920px;
    height: 243px;
    background-size: 1920px 243px;
}

div#ctm {
    position: absolute;
    right: 0;
    width: 684px;
    height: 1080px;
    background-image: url("../images/ctmbackground.png");
    background-size: 684px 1080px;
}

div#ctm div#title {
    position: absolute;
    top: 577px;
    right: 24px;
    width: 684px;
    text-align: right;
}

div#ctm div#title div.header {
    font-size: 48px;
}

div#ctm div#title div.text {
    font-size: 40px;
}

div#ctm div#info {
    position: absolute;
    top: 712px;
    left: 24px;
    width: 636px;
    font-size: 18px;
}

div#ctm div#info div.header,
div#ctm div#info div.text {
    margin: 0 5px;
}

div#ctm div#info div.header {
    margin-bottom: 3px;
}

div#ctm div#notification {
    position: absolute;
    display: grid;
    left: 24px;
    top: 984px;
    width: 636px;
}

div#ctm div#notification div.notification {
    display: grid;
    font-size: 36px;
    grid-template-rows: 93px;
    grid-template-columns: repeat(2, fit-content(530px));
    column-gap: 20px;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

div#ctm div#notification div.notification .message {
    font-size: 16px;
}

div#ctm div#elapsed {
    position: absolute;
    top: 446px;
    width: 636px;
    text-align: center;
    color: white;
    font-size: 72px;
}

div#tetris div,
div#tetris2p div,
div#tetris4p div {
    font-family: "Bungee Regular";
    text-transform: uppercase;
    font-size: 36px;
}

div#tetris {
    position: absolute;
    background: url("/images/tdm-background.png") 1920px 1080px;
    width: 1920px;
    height: 1080px;
}

div#tetris div#tetris-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

div#tetris div#organization {
    position: absolute;
    top: 300px;
    left: 0;
    display: grid;
    justify-content: center;
    width: 1920px;
    font-size: 48px;
}

div#tetris div#title {
    position: absolute;
    top: 504px;
    left: 0;
    display: grid;
    justify-content: center;
    width: 1920px;
    font-size: 72px;
}

div#tetris .blockrain-score {
    display: none;
}

div#tetris2p {
    position: absolute;
    background: url("/images/tdm-background.png") 1920px 1080px;
    width: 1920px;
    height: 1080px;
}

div#tetris2p div#left-player {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 800px;
    height: 125px;
}

div#tetris2p div#right-player {
    position: absolute;
    top: 0;
    left: 1120px;
    display: grid;
    align-items: center;
    width: 808px;
    height: 125px;
}

div#tetris2p div#left-score {
    position: absolute;
    top: 0;
    left: 814px;
    font-size: 72px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 112px;
    height: 125px;
}

div#tetris2p div#right-score {
    position: absolute;
    top: 0;
    left: 1008px;
    font-size: 72px;
    display: grid;
    align-items: center;
    width: 112px;
    height: 125px;
}

div#tetris2p div#left-text {
    position: absolute;
    left: 160px;
    top: 415px;
    font-size: 40px;
    width: 373px;
    height: 506px;
}

div#tetris2p div#right-text {
    position: absolute;
    left: 1388px;
    top: 415px;
    font-size: 40px;
    width: 373px;
    height: 506px;
}

div#tetris2p div#organization {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    width: 1920px;
    height: 100px;
}

div#tetris2p div#title {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 100px;
}

div#tetris2p div#status {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 1920px;
    height: 100px;
}

div#tetris4p {
    position: absolute;
    background: url("/images/tdm-background.png") 1920px 1080px;
    width: 1920px;
    height: 1080px;
}

div#tetris4p div#player-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 428px;
    height: 77px;
}

div#tetris4p div#player-2 {
    position: absolute;
    top: 0;
    left: 506px;
    display: grid;
    align-items: center;
    width: 428px;
    height: 77px;
}

div#tetris4p div#player-3 {
    position: absolute;
    top: 0;
    left: 984px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 428px;
    height: 77px;
}

div#tetris4p div#player-4 {
    position: absolute;
    top: 0;
    left: 1490px;
    display: grid;
    align-items: center;
    width: 428px;
    height: 77px;
}

div#tetris4p div#player-1-score {
    position: absolute;
    top: 56px;
    left: 322px;
    font-size: 72px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 112px;
    height: 69px;
}

div#tetris4p div#player-2-score {
    position: absolute;
    top: 56px;
    left: 506px;
    font-size: 72px;
    display: grid;
    align-items: center;
    width: 112px;
    height: 69px;
}

div#tetris4p div#player-3-score {
    position: absolute;
    top: 56px;
    left: 1306px;
    font-size: 72px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 112px;
    height: 69px;
}

div#tetris4p div#player-4-score {
    position: absolute;
    top: 56px;
    left: 1490px;
    font-size: 72px;
    display: grid;
    align-items: center;
    width: 112px;
    height: 69px;
}

div#tetris4p div#organization {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    width: 1920px;
    height: 100px;
}

div#tetris4p div#title {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 100px;
}

div#tetris4p div#status {
    position: absolute;
    top: 980px;
    display: grid;
    align-items: center;
    justify-content: right;
    width: 1920px;
    height: 100px;
}

.header {
    color: white;
}

.text {
    color: #7a7aff;
}

.fade-out {
    animation: fader 0.5s linear;
    opacity: 0;
}

.ease-in {
    animation: easer 0.5s ease-in;
}

@keyframes fader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes easer {
    0% {
        margin-top: 100px;
    }
    
    100% {
        margin-top: 0;
    }
}
