body {
    position: relative;
}

.stream-text, .track-text {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.scene {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.fade-animation {
    animation: image-fader 12s linear;
}

@keyframes image-fader {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#now-playing {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 60px;
    z-index: 10;
    transition: transform 0.5s linear;
    transform: translate(1534px, 980px);
}

#now-playing .track {
    position: absolute;
    bottom: 0;
    left: 0;
}

#now-playing .track-text {
    width: 324px;
}

#now-playing .album-art {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

#video {
    transition: transform 0.5s linear, visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

#video #webcam {
    width: 1920px;
    transform: translate(0, 0) scale(1);
    transition: transform 0.5s linear;
    transform-origin: top left;
    top: 0;
    left: 0;
}

#video .roncliGaming {
    position: absolute;
    display: inline;
    text-align: center;
    transition: transform 0.5s linear, visibility 0.5s linear, opacity 0.5s linear;
    top: 0;
    left: 0;
}

#video .roncliGaming div {
    color: black;
    text-shadow: 1px 1px 3px white;
}

#video .alerts {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 216px;
}

#video .fire {
    position: absolute;
    top: 108px;
    width: 384px;
    height: 108px;
    opacity: 0;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0), transparent)
}

#fullscreen {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
}

#fullscreen .roncliGaming {
    text-align: center;
    position: absolute;
    top: 25px;
    right: 25px;
}

#fullscreen .roncliGaming * {
    font-size: 100px;
}

#intro {
    position: relative;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 3px black;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

#intro .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("../images/roncliGamingTwitch.png");
}

#intro .upNext {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .thanks {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 120px;
    z-index: 2;
}

#intro .unText {
    font-size: 96px;
    z-index: 2;
}

#intro .unGame {
    font-size: 120px;
    z-index: 2;
}

#intro .status {
    position: absolute;
    top: 930px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .statusText {
    font-size: 120px;
}

#intro .analyzer {
    position: absolute;
    bottom: 0;
}

#intro .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    opacity: 0;
}

@keyframes background-fader {
    0% {
        opacity: 0;
        transform: scale(0.4) rotate(15deg); 
    }

    24% {
        opacity: 1;
        transform: scale(0.45) rotate(7.5deg); 
    }

    72% {
        opacity: 1;
        transform: scale(0.55) rotate(-7.5deg); 
    }

    96% {
        opacity: 0;
        transform: scale(0.6) rotate(-15deg); 
    }
}

#intro .background.animate {
    animation: background-fader 8s linear;
}

#intro .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    transform: scale(1);
}

#scene {
    position: absolute;
    transition: transform 0.5s linear, visibility 0.5s linear, opacity 0.5s linear;
    top: 0;
    left: 0;
    width: 384px;
}

#scene .container {
    position: absolute;
    width: 384px;
    max-width: 384px;
}

#scene .video {
    position: relative;
    margin: 4px 0;
    width: 384px;
    height: 216px;
}

#scene .stream-text {
    display: table-cell;
    height: 300px;
    width: 100%;
    vertical-align: bottom;
}

#dcl .container {
    position: absolute;
    width: 1920px;
    left: 0;
    bottom: 266px;
}

#dcl .top {
    display: table-cell;
    max-width: 384px;
    height: 300px;
    vertical-align: bottom;
}

#dcl .dcl {
    position: absolute;
    width: 384px;
    right: 0;
    top: 0;
}

#dcl .rank {
    text-transform: capitalize;
}

#dcl .top, #dcl .dcl {
    color: white;
    text-shadow: 1px 1px 3px black;
}

#time {
    position: absolute;
    width: 800px;
    height: 800px;
    background: url("../images/time.png") 800px 800px;
    background-size: 800px 800px;
    left: 560px;
    top: 140px;
    opacity: 0;
    z-index: 3;
}
