body {
    position: relative;
}

#scene .container {
    position: absolute;
    top: 432px;
    max-width: 384px;
    right: 0;
}

#scene .video {
    position: relative;
    margin: 4px 0;
    width: 384px;
    height: 216px;
}

#scene .stream-text {
    display: table-cell;
    height: 300px;
    width: 100%;
    vertical-align: bottom;
}

#scene .roncliGaming {
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

#scene .alerts {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 216px;
}

#scene .stream-text, #now-playing .track-text {
    color: white;
    text-shadow: 1px 1px 3px black;
}

#scene .roncliGaming div {
    color: black;
    text-shadow: 1px 1px 3px white;
}

#now-playing .track {
    position: absolute;
    bottom: 0;
    left: 0;
}

#now-playing .track-text {
    width: 324px;
}

#now-playing .album-art {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.hidden {
    display: none;
}

#intro .intro {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url("images/roncliGamingTwitch.png");
    background-size: 1920px 1080px;
}

#intro .outro {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url("images/roncliGamingTwitch.png");
    background-size: 1920px 1080px;
    opacity: 0;
}

#intro .outro.animate {
    animation: outroFade 13s linear;
}

@keyframes outroFade {
    0% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#intro .nowPlaying {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
}

#intro .upNext {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .unText {
    font-size: 96px;
    z-index: 2;
}

#intro .unGame {
    font-size: 120px;
    z-index: 2;
}

#intro .status {
    position: absolute;
    top: 930px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    opacity: 0;
}

#intro .background.animate {
    animation: fader 8s linear;
}

#intro .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    transform: scale(1);
}

#intro .statusText {
    font-size: 120px;
}

@keyframes fader {
    0% {
        opacity: 0;
        transform: scale(0.4) rotate(15deg); 
    }

    24% {
        opacity: 1;
        transform: scale(0.45) rotate(7.5deg); 
    }

    72% {
        opacity: 1;
        transform: scale(0.55) rotate(-7.5deg); 
    }

    96% {
        opacity: 0;
        transform: scale(0.6) rotate(-15deg); 
    }
}
