* {
    font-family: NecroSans;
    color: white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-color: black;
}

#bumper {
    position: absolute;
    width: 1920px;
    height: 1080px;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    background-color: #211133;
}

#title {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 1900px;
    height: 1080px;
    font-size: 72px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    line-height: 0.8;
}

#thanks {
    position: absolute;
    right: 10px;
    top: 10px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    line-height: 0.8;
    text-align: right;
    font-size: 72px;
}

#matchup {
    position: absolute;
    right: 10px;
    top: 10px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    line-height: 0.8;
    text-align: right;
}

#up-next {
    font-size: 48px;
    margin-bottom: 24px;
}

#player-1, #player-2 {
    font-size: 60px;
}

#vs {
    font-family: "Mini NecroSans";
    font-size: 36px;
}

#song-bumper {
    position: absolute;
    left: 10px;
    top: 810px;
    width: 1900px;
    font-family: "Mini NecroSans";
    font-size: 48px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    color: red;
}

#countdown {
    position: absolute;
    top: 955px;
    width: 1920px;
    text-align: center;
    font-size: 100px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
}

#twitter {
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    font-size: 32px;
}

#website {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    font-size: 32px;
}

.condor-logo {
    background: url("/images/condor-logo.png") no-repeat 368px 73px;
    background-position: center;
}

.condor-heart {
    background: url("/images/condor-heart.png") no-repeat 450px 630px;
    background-position: center;
}

#no-event .condor-heart {
    position: absolute;
    top: 195px;
    left: 735px;
    width: 450px;
    height: 630px;
}

#season-7 {
    position: absolute;
}

#season-7 .condor-logo {
    position: absolute;
    top: 122px;
    width: 1920px;
    height: 73px;
}

#season-7 .condor-heart {
    position: absolute;
    background-size: 225px 315px;
    top: 750px;
    width: 1920px;
    height: 315px;
}

#season-7 .stats {
    position: absolute;
    top: 195px;
    width: 1920px;
}

#season-7 .stats .title, #season-7 .stats .title * {
    text-align: center;
    font-size: 48px;
}

#season-7 .stats * {
    font-size: 32px;
    color: #cccccc;
}

#season-7 .stats table {
    margin: auto;
}

#season-7 .stats th, #season-7 .stats td {
    padding: 0 30px;
    text-align: left;
    white-space: nowrap;
}

#season-7 .stats .standings table tbody td:nth-child(1),
#season-7 .stats .standings table tbody td:nth-child(3),
#season-7 .stats .standings table tbody td:nth-child(4),
#season-7 .stats .standings table tbody td:nth-child(5),
#season-7 .stats .standings table tbody td:nth-child(6),
#season-7 .stats .standings table tbody td:nth-child(7),
#season-7 .stats .standings table tbody td:nth-child(8) {
    text-align: center;
}

#season-7 .stats .hidden {
    display: none;
}

#season-7 .stats .results table thead th,
#season-7 .stats .upcoming table thead th {
    text-align: center;
}

#race {
    position: absolute;
    width: 1920px;
    height: 1080px;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
}

#background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url("/images/nd-crystal.png");
}

#song-race {
    position: absolute;
    left: 14px;
    top: 28px;
    width: 1892px;
    font-family: "Mini NecroSans";
    font-size: 48px;
    text-shadow: 6px 6px 0.5px black, 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    color: red;
}

#name1 {
    position: absolute;
    left: 10px;
    top: 258px;
    width: 900px;
    text-align: center;
    font-size: 60px;    
}

#name2 {
    position: absolute;
    right: 10px;
    top: 258px;
    width: 900px;
    text-align: center;
    font-size: 60px;    
}

#lute-left1 {
    position: absolute;
    left: 385px;
    width: 60px;
    height: 58px;
    top: 901px;
    background-image: url("/images/lute-left1.png");
}

#lute-left2 {
    left: 512px;
    width: 60px;
    height: 54px;
    top: 901px;
    position: absolute;
    background-image: url("/images/lute-left2.png");
}

#lute-left3 {
    left: 639px;
    width: 61px;
    height: 50px;
    top: 901px;
    position: absolute;
    background-image: url("/images/lute-left3.png");
}

#lute-right1 {
    left: 1469px;
    width: 67px;
    height: 50px;
    top: 901px;
    position: absolute;
    background-image: url("/images/lute-right1.png");
}

#lute-right2 {
    left: 1349px;
    width: 60px;
    height: 56px;
    top: 901px;
    position: absolute;
    background-image: url("/images/lute-right2.png");
}

#lute-right3 {
    left: 1222px;
    width: 60px;
    height: 55px;
    top: 901px;
    position: absolute;
    background-image: url("/images/lute-right3.png");
}

#timer {
    position: absolute;
    left: 2px;
    top: 897px;
    width: 1918px;
    text-align: center;
    font-variant-numeric: tabular-nums;
}

#timer > div {
    display: inline-block;
    text-align: center;
    font-size: 60px;
}

#timer.green > div {
    color: #00ff00;
}

#timer.red > div {
    color: #ff0000;
}

#timer > div.number {
    width: 0.58em;
}

#website-race {
    position: absolute;
    right: 14px;
    bottom: 14px;
    text-shadow: 3px 3px black, 3px -3px black, -3px -3px black, -3px 3px black;
    font-size: 32px;
}
