body {
    overflow: hidden;
    background-color: black;
}

#player1 {
    position: absolute;
    left: 17px;
    top: 235px;
}

#player2 {
    position: absolute;
    left: 966px;
    top: 235px;
}
