body {
    position: relative;
    overflow: hidden;
    background-color: black;
}

.track-text {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.scene {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.fade-animation {
    animation: image-fader 12s linear;
}

@keyframes image-fader {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#now-playing {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 60px;
    z-index: 10;
    transition: transform 0.5s linear;
    transform: translate(1418px, 5px);
}

#now-playing .track {
    position: absolute;
    bottom: 0;
    left: 0;
}

#now-playing .track-text {
    width: 440px;
}

#now-playing .album-art {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

#video {
    transition: transform 0.5s linear, visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#video #webcam {
    width: 1920px;
    transform: translate(0, 0) scale(1);
    transition: transform 0.5s linear;
    transform-origin: top left;
    top: 0;
    left: 0;
}

#video .alerts {
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
    height: 216px;
}

#video .fire {
    position: absolute;
    top: 108px;
    width: 384px;
    height: 108px;
    opacity: 0;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0), transparent)
}

#fullscreen {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
}

#fullscreen .roncliGaming {
    text-align: center;
    position: absolute;
    top: 25px;
    right: 25px;
}

#fullscreen .roncliGaming * {
    font-size: 100px;
}

#intro {
    position: relative;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 3px black;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

#intro .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("../images/roncliGamingTwitch.png");
}

#intro .upNext {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .thanks {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 120px;
    z-index: 2;
}

#intro .unText {
    font-size: 96px;
    z-index: 2;
}

#intro .unGame {
    font-size: 120px;
    z-index: 2;
}

#intro .status {
    position: absolute;
    top: 930px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#intro .statusText {
    font-size: 120px;
}

#intro .analyzer {
    position: absolute;
    bottom: 0;
}

#intro .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    opacity: 0;
}

@keyframes background-fader {
    0% {
        opacity: 0;
        transform: scale(0.4) rotate(15deg); 
    }

    24% {
        opacity: 1;
        transform: scale(0.45) rotate(7.5deg); 
    }

    72% {
        opacity: 1;
        transform: scale(0.55) rotate(-7.5deg); 
    }

    96% {
        opacity: 0;
        transform: scale(0.6) rotate(-15deg); 
    }
}

#intro .background.animate {
    animation: background-fader 8s linear;
}

#intro .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    transform: scale(1);
}

#intro .social {
    position: absolute;
    top: 780px;
    left: 1500px;
    font-size: 36px;
    line-height: 1.5;
}

#intro .social img {
    vertical-align: middle;
}

#scene {
    position: absolute;
    transition: transform 0.5s linear, visibility 0.5s linear, opacity 0.5s linear;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: #191935;
}

#scene .title {
    position: absolute;
    width: 830px;
    top: 5px;
    left: 545px;
    height: 90px;
}

#scene .title #title-1, #scene .title #title-2 {
    font-size: 34px;
    padding: 5px;
}

#scene .scene-title {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 349px;
    height: 90px;
}

#scene .scene-title .panel-body {
    margin-left: 65px;
    width: 220px;
}

#scene .scene-title .roncliGaming {
    display: inline;
    text-align: center;
    color: black;
}

#scene .scene-title .roncliGaming > div {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 24px;
}

#scene .bitboss {
    position: absolute;
    top: 992px;
    left: 387px;
    overflow: hidden;
}

#scene .bitboss iframe {
    width: 800px;
    height: 800px;
    overflow: hidden;
}

#scene .events {
    position: absolute;
    top: 988px;
    right: 0;
    overflow: hidden;
}

#scene .events iframe {
    width: 800px;
    height: 100px;
    overflow: hidden;
}

#scene .game {
    position: absolute;
    left: 369px;
    top: 100px;
}

#scene .game .panel-body > div {
    width: 1536px;
    height: 864px;
    background-color: black;
    z-index: 10;
}

#scene .game .panel-body .green-screen {
    background-color: #36c781;
    z-index: 10;
}

#scene .webcam-panel {
    position: absolute;
    left: -15px;
    top: 784px;
}

#scene .webcam-panel.panel {
    position: absolute;
    left: -15px;
    top: 784px;
    box-shadow: none;
}

#scene .webcam-panel .panel-body {
    width: 399px;
    height: 311px;
}

#scene .video {
    position: relative;
    margin: 4px 0;
    width: 384px;
    height: 216px;
}

#scene .stream-text {
    position: absolute;
    top: 115px;
    left: 10px;
    width: 349px;
    max-width: 349px;
}

#scene .stream-text .panel-heading {
    padding: 5px;
}

#scene .stream-text .panel-body {
    padding: 2px 5px;
}

#scene .social-media {
    position: absolute;
    top: 1000px;
    left: 753px;
    width: 349px;
    height: 74px;
    max-width: 349px;
}

#scene .social-media .panel-body {
    padding: 7px;
}

#scene .social-media .panel-body img {
    width: 24px;
    height: 24px;
}

#scene .timer {
    position: absolute;
    top: 1000px;
    left: 1112px;
    font-size: 74px;
    color: white;
}

#time {
    position: absolute;
    width: 800px;
    height: 800px;
    background: url("../images/time.png") 800px 800px;
    background-size: 800px 800px;
    left: 560px;
    top: 140px;
    opacity: 0;
    z-index: 3;
}
