body {
    position: relative;
    background-color: black;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 5px #283888;
    border-radius: 55px;
    filter: drop-shadow(15px 10px 10px rgba(40, 56, 136));
}

.logo {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100px;
    height: 100px;
    background: url("/images/the-observatory-logo.png") center / 76px 68px no-repeat;
}

.box {
    position: absolute;
    left: 93px;
    top: 18px;
    width: 700px;
    height: 64px;
    background-color: white;
    border: solid 5px #283888;
    border-left: none;
    filter: drop-shadow(25px 15px 10px rgba(40, 56, 136));
    clip:rect(-10px, 1920px, 100px, 0px);
    color: #283888;
    text-align: center;
}

.the-observatory {
    display: inline-block;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    font-family: "Descent ][ Logo";
    font-size: 48px;
}

#bumper {
    width: 1920px;
    height: 1080px;
    background: url("/images/observatory.png") center / 911px 691px no-repeat;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}

#header {
    position: absolute;
    left: 537px;
    top: 5px;
}

#bumper-event {
    position: absolute;
    right: 626px;
    top: 100px;
    font-family: "Descent ][ Logo";
    font-size: 48px;
    background: -webkit-linear-gradient(#ffffff 0%, #283888 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

#bumper-subevent {
    position: absolute;
    right: 626px;
    top: 150px;
    font-family: "Descent ][ Menu";
    font-size: 36px;
    background: -webkit-linear-gradient(#ffffff 0%, #283888 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

#stats {
    position: absolute;
    left: 5px;
    top: 200px;
    width: 1910px;
    height: 650px;
}

#stats table {
    margin: 0 auto;
}

#stats td, #stats th {
    position: relative;
    font-family: "Descent ][ Score";
    font-size: 18px;
    color: #ffffff;
    padding: 0 5px;
    z-index: 1;
    vertical-align: top;
}

#countdown {
    position: absolute;
    top: 900px;
    width: 1920px;
    font-family: "Descent ][ Logo";
    font-size: 72px;
    background: -webkit-linear-gradient(#ffffff 0%, #283888 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#playing {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 950px;
    font-family: "Descent ][ Score";
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: right;
}

#tournament {
    transition: visibility 0.5s linear, opacity 0.5s linear;
}

#observatory {
    position: absolute;
    left: 73px;
    top: 5px;
}

#tournament-event {
    position: absolute;
    right: 1090px;
    top: 100px;
    font-family: "Descent ][ Logo";
    font-size: 48px;
    background: -webkit-linear-gradient(#ffffff 0%, #283888 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

#tournament-subevent {
    position: absolute;
    right: 1090px;
    top: 150px;
    font-family: "Descent ][ Menu";
    font-size: 36px;
    background: -webkit-linear-gradient(#ffffff 0%, #283888 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

#image {
    position: absolute;
    right: 1060px;
    top: 270px;
    width: 342px;
    height: 259px;
    background: url("/images/observatory.png");
    background-size: 342px 259px
}

#websites {
    position: absolute;
    left: 80px;
    top: 200px;
    font-family: "Descent ][ Score";
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

#video {
    position: absolute;
    width: 960px;
    height: 540px;
}

#nowPlaying {
    position: absolute;
    left: 80px;
    bottom: 550px;
    width: 950px;
    font-family: "Descent ][ Score";
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

#container {
    position: absolute;
    top: 540px;
    width: 960px;
    height: 540px;
}

#results {
    position: absolute;
    left: 965px;
    top: 5px;
    width: 950px;
}

#title {
    position: absolute;
    top: 18px;
    width: 940px;
    height: 64px;
    background-color: white;
    border: solid 5px #283888;
    filter: drop-shadow(-25px 15px 10px rgba(40, 56, 136));
    color: #283888;
    text-align: center;
}

#text {
    display: inline-block;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    font-family: "Descent ][ Logo";
    font-size: 48px;
}

#data, #standings {
    position: absolute;
    left: 965px;
    top: 120px;
}

#data td {
    font-family: "Descent ][ Score";
    font-size: 24px;
    line-height: 24px;
    color: white;
    vertical-align: top;
    padding: 0 10px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.obs-box {
    background-color: white;
    border: solid 5px #283888;
    filter: drop-shadow(25px 15px 10px rgba(40, 56, 136));
    clip: rect(-10px, 1920px, 100px, 0px);
    font-family: "Descent ][ Logo" !important;
    font-size: 36px !important;
    color: #283888 !important;
    text-align: center;
    margin-top: 10px;
}

.no-margin {
    margin-top: 0;
}

.fixed {
    table-layout: fixed;
    width: 1000px;
}

.fixed td {
    vertical-align: middle !important;
}

.fixed table {
    margin: 10px 5px !important;
    width: 100%;
}

.fixed table tr.score {
    background-color: white;
}

.fixed table tr.score td {
    color: #283888 !important;
    padding: 1px 2px !important;
}

#data tr.withdrawn td {
    color: grey;
}

#data tr.unable-to-host td {
    color: yellow;
}

#data td.winner {
    color: #00ff00;
}

#data td.loser {
    color: #ff0000;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#standings * {
    font-family: "Descent ][ Score";
}
