body {
    background-color: black;
}

#notification {
    position: absolute;
    height: 125px;
    left: 10px;
    bottom: 10px;
}

#circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 5px rgba(40, 56, 136, 0);
    border-radius: 55px;
    filter: drop-shadow(15px 10px 10px rgba(40, 56, 136, 0));
    transition: background-color 0.5s, border-color 0.5s, filter 0.5s;
}

#logo {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100px;
    height: 100px;
    background: url("/images/the-observatory-logo.png") center / 76px 68px no-repeat;
    transition: opacity 0.5s;
    opacity: 0.5;
}

#logo.bumper {
    opacity: 0;
}

#box {
    position: absolute;
    left: 93px;
    top: 18px;
    width: 0px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 5px rgba(40, 56, 136, 0);
    border-left: none;
    border-right: none;
    filter: drop-shadow(25px 15px 10px rgba(40, 56, 136, 0));
    clip:rect(-10px, 1920px, 100px, 0px);
    color: rgba(40, 56, 136, 0);
    transition: background-color 0.5s steps(1, end), border-color 0.5s steps(1, end), filter 0.5s steps(1, end), color 0.5s steps(1, end), width 0.5s cubic-bezier(0.75, 0, 0.75, 0.9);
    white-space: nowrap;
    text-align: center;
}

#text {
    display: table-cell;
    width: 1000px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    font-family: "Descent ][ Score";
    font-size: 24px;
    line-height: 24px;
    opacity: 0;
    transition: opacity 0.5s;
}

#status {
    display: inline-block;
    position: absolute;
    left: 110px;
    top: 5px;
    height: 100px;
    width: 1000px;
    transition: opacity 0.5s;
    opacity: 0.5;
}

#status.bumper {
    opacity: 0;
}

#status, #status * {
    text-align: left;
    vertical-align: middle;
    line-height: 100px;
    font-family: "Descent ][ Score";
    font-size: 24px;
    color: white;
}

#circle.circle-anim {
    background-color: rgba(255, 255, 255, 255);
    border-color: rgba(40, 56, 136, 255);
    filter: drop-shadow(15px 10px 10px rgba(40, 56, 136, 255))
}

#logo.logo-anim, #logo.bumper.logo-anim {
    opacity: 1;
}

#box.box-anim {
    width: 1000px;
    background-color: rgba(255, 255, 255, 255);
    border-color: rgba(40, 56, 136, 255);
    border-right: solid 5px rgba(40, 56, 136, 255);
    filter: drop-shadow(25px 15px 10px rgba(40, 56, 136, 255));
    color: rgba(40, 56, 136, 255);
    transition: background-color 0s steps(1, end), border-color 0s steps(1, end), filter 0s steps(1, end), color 0s steps(1, end), width 0.5s;
}

#text.text-anim {
    opacity: 1;
}

#status.status-anim, #status.bumper.status-anim {
    opacity: 0;
}
